body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#suggestions {
    position: absolute;
    top: 45px;
    left: 0;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

#downloads {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

#suggestions div:last-child {
    border-bottom: none;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

button {
    padding: 15px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2180c0;
}

#result {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    input {
        width: 80%;
    }

    button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}